.mobile-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(147, 145, 145);
}

.mobile-nav h3{
    font-size: 20px;
    color: rgb(214, 163, 54);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-shadow: 0px 0px 3px rgb(13, 1, 21);
}

@media (min-width:600px){
    .main-mobile-nav{
        display:none;
        overflow: hidden;
    }
}

@media (max-width:600px){
    .mobile-nav-items{
        padding: 10px 10px 10px 10px;
        background-color: black;
        display: flex;
        justify-content: space-between;
    }
    .close-menu{
        display: none;
    }
};