.education {
    padding-left: 150px;
    margin-top: 40px;
}

.education hr {
    color: #1e763a;
    width: 400px;
    margin: 10px auto;
}

.education h2 {
    font-weight: bold;
    color: #138781;
}

.vertical-timeline-element--education {
    width: 100%;
}

.vertical-timeline-element-title {
    color: #138781;
    /* width: 100px; */
}

.education .vertical-timeline-element-subtitle {
    font-size: 18px;
    padding: 10px 0px;
    color: gray;
}

.view-btn {
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #138781;
    border-radius: 5px;
    text-decoration: none;
    background-color: #138781;
    color: white;
    text-align: center;
}

.view-btn:hover {
    background-color: white;
    color: #138781;
}

/* CSS FOR DARK MODE */
#dark .vertical-timeline-element-date {
    color: white;
}

/* Responsive css */
@media (max-width:600px) {
    .education {
        padding-left: 0px;
        margin-top: 5px;
    }

    .education hr {
        width: 200px;
        margin: 10px auto;
    }

    .education h2 {
        font-size: 15px;
    }

    .vertical-timeline-element--education {
        padding: 8px;
        width: 22rem;
        margin-bottom: -30px;
        margin-left: -4rem;
    }

    .vertical-timeline-element-title {
        font-size: 16px;
    }

    .education .vertical-timeline-element-subtitle {
        font-size: 12px;
    }

    .vertical-timeline-element-date {
        font-size: 15px;
    }

    .vertical-timeline-element-icon {
        display: none;
    }

    /* Hide the vertical line for mobile screens */
    .vertical-timeline::before {
        display: none;
    }

    /* Force full width of timeline elements on mobile */
    .vertical-timeline-element-content {
        max-width: 100% !important;
    }

    /* Center the icons for a cleaner look on mobile */
    .vertical-timeline-element-icon {
        margin-left: calc(50% - 15px);
    }

    .view-btn {
        width: 2.5rem;
        padding: 0px;
        font-size: 12px;
        font-weight: 600;
    }


    .vertical-timeline-element-date {
        font-size: 8px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .vertical-timeline-element-icon {
        font-size: 12px;
    }

    .main-education-box {
        width: 100%;
        padding-left: 20px;
        margin-right: -10px;
    }

    .vertical-timeline::before {
        display: none;
    }
    #dark .vertical-timeline-element-date {
        color: black;
    }
}